@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Denied</title>
</head>
<body>
    Sorry, you do not have access to that page.
</body>
</html>
