@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <h2>The party is tonight.</h2>

        <partial name="IncrementCount" />

        <a asp-action="Login">Log In</a>
        <a asp-action="Logoff">Log Off</a>
        <partial name="DisplayLoginName" />

        <h3>And you're invited</h3>

        <div class="btn btn-success">
            <a asp-action="RsvpForm">RSVP Now</a>
        </div>

        <div class="btn btn-success">
        <a asp-action="Product">Product</a>
        </div>

        <div class="btn btn-success">
        <a asp-action="Products">Products</a>
        </div>

        <div class="btn btn-success">
        <a asp-action="classes">Classes</a>
        </div>

     </div>
</body>
</html>