@model HelloWorld.Models.Product

@{
    ViewData["Title"] = "Products";
     //Layout = "_BasicLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    @Model.Name - @Model.Description - @Model.Price.ToString("C")
</body>
</html>