@model HelloWorld.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Thanks</title>
</head>


<h1>Thank you, @Model.Name</h1>
@if (Model.WillAttend == true)
{
    @:Thanks for coming! We'll email you at @Model.Email
}
else
{
    @:Sorry you can't make it.
}